<section class="container-sm col content my-4 shadow p-4">
  <div class="pb-2 mt-2 mb-2 border-bottom border-plantfriend">
    <h2>Log a completed task</h2>
  </div>

  <%= form_with model: @task do |form| %>
  <div class="form-group">
    <%= form.label :task_name, {}, { class: 'form-label' } %><br>
    <%= form.select :task_name, [['Watered', 'water'], ['Fertilised', 'fertilise'], ['Misted', 'mist'], ['Cleaned', 'clean']],
    {}, { :class => 'form-select' } %>
    <% @task.errors.full_messages_for(:task_name).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :plant_id %><br>
    <%= form.select(:plant_id, Plant.all.order('name ASC').collect {|a| ["#{a.name} (#{a.room.name})", a.id]},
    {}, { :class => 'form-select' }) -%>
    <% @task&.errors&.full_messages_for(:plant_id).each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>

  <div class="form-group">
    <%= link_to "/", class: "btn btn-secondary mt-2 me-2" do %>
      <%= icon('arrow-left') %> Back
    <% end %>
    <%= form.button nil, :class => 'btn btn-primary mt-2' do %>
      <%= icon('plus') %> Add task
    <% end %>
  </div>
<% end %>
</section>
